$bg: var(--bg);
$background: var(--bg);
$darkerBg: var(--contrast);
$lighterBg: var(--second);
$fg: var(--fg);
$foreground: var(--fg);
$primary: var(--text);
$text: var(--text);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$selFg2: var(--selFg2);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$active: var(--active);
$border: var(--border);
$borderLight: var(--active);
$hl: var(--hl);
$highlight: var(--hl);
$tree: var(--tree);
$notif: var(--notif);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent1: var(--accent);
$accent1Alpha: var(--accent);
$accent2: var(--links);
$accent2Alpha: var(--links);
$accent3: var(--tags);

$tag-name-color: var(--tags);
$tags: var(--tags);
$attribute-name-color: var(--attributes);
$attributes: var(--attributes);
$comment-color: var(--comments);
$comments: var(--comments);
$keyword-color: var(--keywords);
$keywords: var(--keywords);
$var-color: var(--vars);
$vars: var(--vars);
$error-color: var(--errors);
$errors: var(--errors);
$operator-color: var(--operators);
$operators: var(--operators);
$function-color: var(--functions);
$functions: var(--functions);
$string-color: var(--strings);
$strings: var(--strings);
$number-color: var(--numbers);
$numbers: var(--numbers);
$link-color: var(--links);
$links: var(--links);
$green: var(--green);
$red: var(--red);
$yellow: var(--yellow);
$blue: var(--blue);
$purple: var(--purple);
$orange: var(--orange);
$cyan: var(--cyan);
$white: var(--white);
$gray: var(--gray);
$error: var(--error);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);
$uiFontFamily: var(--ui-font-family, Roboto, sans-serif);
$fontFamily: var(--font-family, Menlo, monospace);
$fontSize: var(--font-size, 11);

.-theme-with-dark-background,
:host-context(.-theme-with-dark-background) {
  --accent-color-hover: #{$accent1Alpha} !important;
  --accent-color: #{$accent1} !important;
  --accent-fg-color: #{$accent1} !important;
  --box-shadow-outline-color: none;
  --color-accent-green: #{$string-color} !important;
  --color-accent-red: #{$tag-name-color} !important;
  --color-background-elevation-0: #{$bg} !important;
  --color-background-elevation-1: #{$second} !important;
  --color-background-elevation-2: #{$active} !important;
  --color-background-elevation-dark-only: #{$contrast} !important;
  --color-background-highlight: #{$highlight} !important;
  --color-background-hover-overlay: #{$tree} !important;
  --color-background-inverted-opacity-2: #{$tree} !important;
  --color-background-inverted-opacity-30: #{$tree} !important;
  --color-background-inverted-opacity-50: #{$tree} !important;
  --color-background-inverted: #{$bg} !important;
  --color-background-opacity-30: #{$tree} !important;
  --color-background-opacity-50: #{$tree} !important;
  --color-background-opacity-80: #{$tree} !important;
  --color-background: #{$bg} !important;
  --color-button-outline-focus: #{$accent1Alpha} !important;
  --color-button-primary-background-hovering: #{$accent1} !important;
  --color-button-primary-background-pressed: #{$accent1Alpha} !important;
  --color-button-primary-text: #{$fg} !important;
  --color-button-secondary-background-hovering: #{$highlight} !important;
  --color-button-secondary-background-pressed: #{$highlight} !important;
  --color-button-secondary-border: #{$button} !important;
  --color-checkbox-accent-color: #{$accent1} !important;
  --color-completion-hover: #{$hl} !important;
  --color-continue-to-location-async-hover-border:  #{$accent1} !important;
  --color-continue-to-location-async-hover:  #{$accent1Alpha} !important;
  --color-continue-to-location-hover-border: #{$accent1} !important;
  --color-continue-to-location-hover: #{$accent1Alpha} !important;
  --color-coverage-used: #{$function-color} !important;
  --color-details-hairline-light: #{$borderLight} !important;
  --color-details-hairline: #{$border} !important;
  --color-editor-selection-blurred: #{$excluded} !important;
  --color-editor-selection: #{$selBg} !important;
  --color-error-border: #{$error} !important;
  --color-error-text: #{$error} !important;
  --color-evaluated-expression-border: #{$attribute-name-color} !important;
  --color-evaluated-expression: #{$attribute-name-color} !important;
  --color-execution-line-outline: #{$string-color} !important;
  --color-green: #{$string-color} !important;
  --color-highlighted-line: #{$tree} !important;
  --color-ic-file-default: #{$fg} !important;
  --color-ic-file-document: #{$function-color} !important;
  --color-ic-file-font: #{$link-color} !important;
  --color-ic-file-image: #{$string-color} !important;
  --color-ic-file-script: #{$attribute-name-color} !important;
  --color-ic-file-stylesheet: #{$keyword-color} !important;
  --color-ic-file-webbundle: #{$text} !important;
  --color-image-preview-background: #{$bg} !important;
  --color-image-preview-background: #{$bg} !important;
  --color-input-outline-active: #{$accent1} !important;
  --color-input-outline-disabled: #{$disabled} !important;
  --color-input-outline-error: #{$error} !important;
  --color-input-outline: #{$borderLight} !important;
  --color-input-text-disabled: #{$disabled} !important;
  --color-line-number: #{$comment-color} !important;
  --color-link: #{$accent2} !important;
  --color-match-highlight: #{$highlight} !important;
  --color-matching-bracket-background: rgb(0 0 0 / 7%);
  --color-matching-bracket-underline: #{$accent1} !important;
  --color-non-breakable-line: #{$excluded} !important;
  --color-nonmatching-bracket-background: rgb(255 0 0 / 7%);
  --color-nonmatching-bracket-underline: #{$error} !important;
  --color-primary-variant: #{$accent2} !important;
  --color-primary: #{$accent1} !important;
  --color-red: #{$tag-name-color} !important;
  --color-scrollbar-mac-hover: #{$accent1} !important;
  --color-scrollbar-mac: #{$accent1Alpha} !important;
  --color-scrollbar-other-hover: #{$accent1} !important;
  --color-scrollbar-other: #{$accent1Alpha} !important;
  --color-search-match-border: #{$primary} !important;
  --color-secondary-cursor: #{$primary} !important;
  --color-selected-option-background: #{$highlight} !important;
  --color-selected-option: #{$selFg} !important;
  --color-selected-search-match-background: #{$accent1} !important;
  --color-selected-search-match: #{$selFg} !important;
  --color-selection-highlight-border: #{$accent1} !important;
  --color-selection-highlight: #{$highlight} !important;
  --color-syntax-1: #{$error-color} !important;
  --color-syntax-2: #{$tag-name-color} !important;
  --color-syntax-3: #{$string-color} !important;
  --color-syntax-4: #{$attribute-name-color} !important;
  --color-syntax-5: #{$link-color} !important;
  --color-syntax-6: #{$function-color} !important;
  --color-syntax-7: #{$second} !important;
  --color-syntax-8: #{$fg} !important;
  --color-text-disabled: #{$disabled} !important;
  --color-text-primary: #{$fg} !important;
  --color-text-secondary-selected: #{$fg} !important;
  --color-text-secondary: #{$text} !important;
  --color-token-atom: #{$attribute-name-color} !important;
  --color-token-attribute-value: #{$string-color} !important;
  --color-token-attribute: #{$attribute-name-color} !important;
  --color-token-builtin: #{$function-color} !important;
  --color-token-comment: #{$comment-color} !important;
  --color-token-definition: #{$string-color} !important;
  --color-token-keyword: #{$keyword-color} !important;
  --color-token-meta: #{$keyword-color} !important;
  --color-token-number: #{$number-color} !important;
  --color-token-property: #{$attribute-name-color} !important;
  --color-token-pseudo-element: #{$link-color} !important;
  --color-token-string-special: #{$string-color} !important;
  --color-token-string: #{$string-color} !important;
  --color-token-tag: #{$tag-name-color} !important;
  --color-token-type: #{$tag-name-color} !important;
  --color-token-variable-special: #{$link-color} !important;
  --color-token-variable: #{$var-color} !important;
  --color-trailing-whitespace: #{$comments} !important;
  --color-variable-values: #{$tag-name-color} !important;
  --divider-border: 1px solid #{$borderLight} !important;
  --divider-color: #{$border} !important;
  --divider-line: #{$border} !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23), 0 2px 4px 2px rgba(0, 0, 0, 0.2), 0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --editor-selection-bg-color: #{$selBg} !important;
  --editor-selection-inactive-bg-color: #{$selBgAlpha} !important;
  --focus-bg-color: #{$active} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$borderLight} !important;
  --image-file-chromeSelectDark: none !important;
  --input-outline: #{$borderLight} !important;
  --issue-color-blue: #{$blue} !important;
  --issue-color-red: #{$error} !important;
  --issue-color-yellow: #{$yellow} !important;
  --legacy-accent-color-hover: #{$accent1Alpha} !important;
  --legacy-accent-color: #{$accent1} !important;
  --legacy-accent-fg-color: #{$accent1} !important;
  --legacy-focus-bg-color: #{$active} !important;
  --legacy-item-selection-bg-color: #{$selBg} !important;
  --legacy-item-selection-fg-color: #{$selFg} !important;
  --legacy-item-selection-inactive-bg-color: #{$lighterBg} !important;
  --legacy-selection-bg-color: #{$selBg} !important;
  --legacy-selection-fg-color: #{$selFg} !important;
  --legacy-selection-inactive-bg-color: #{$lighterBg} !important;
  --legacy-selection-inactive-fg-color: #{$foreground} !important;
  --legacy-toolbar-bg-color: #{$darkerBg} !important;
  --legacy-toolbar-hover-bg-color: #{$highlight} !important;
  --lighthouse-green: #{$green} !important;
  --lighthouse-orange: #{$yellow} !important;
  --lighthouse-red: #{$error} !important;
  --message-border-color: #{$border} !important;
  --monospace-font-family: var(--font-family, Menlo, monospace) !important;
  --monospace-font-size: var(--font-size, 11) !important;
  --override-chrome-select-border-color: #{$button} !important;
  --override-console-link-color: #{$accent2} !important;
  --override-dom-tag-name-color: #{$tag-name-color} !important;
  --override-node-text-label-color: #{$fg} !important;
  --override-tabbed-dark-mode-bg-color: #{$contrast} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-inactive-bg-color: #{$lighterBg} !important;
  --selection-inactive-fg-color: #{$foreground} !important;
  --source-code-font-family: var(--font-family, Menlo, monospace) !important;
  --source-code-font-size: var(--font-size, 11) !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;

  @import 'app/index';
}
