.infobar {
  color: $foreground;
}

.infobar-info {
  background: $second;

  .info-icon {
    background: $accent1;
  }

  .infobar-toggle {
    color: $accent1;
  }
}

.infobar-warning,
.-theme-with-dark-background .infobar-warning,
:host-context(.-theme-with-dark-background) .infobar-warning {
  --override-infobar-warning-background: #{$notif} !important;

  background: $notif !important;
}
