.filter-input-container {
  background: $contrast;
  border: 1px solid $border;

  &:hover {
    background: $contrast;
  }
}

.filter-input-container:focus-within,
.filter-text-filter:not(.filter-text-empty) .filter-input-container {
  box-shadow: 2px solid $accent1;
  border: none;
}

.filter-bar {
  background-color: $contrast;
  border-color: $borderLight;
}

.filter-bitset-filter span {
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}

.-theme-with-dark-background .filter-bitset-filter span,
.filter-bitset-filter span {
  outline: 1px solid $accent1;
  color: $foreground;
}

.filter-bitset-filter-divider {
  background-color: $border;
}

.filter-bitset-filter span.selected,
.filter-bitset-filter span:hover,
.filter-bitset-filter span:active {
  color: $selFg;
  text-shadow: var(--drop-shadow) 0 1px 0;
}

.filter-bitset-filter span:hover {
  background: $accent1Alpha;
}

.filter-bitset-filter span.selected {
  background-color: $accent1;
}

.filter-bitset-filter span:active {
  background-color: $accent1;
}

.filter-input-field {
  background-color: $contrast;
  border: 2px solid $borderLight;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  height: auto;
}

.filter-input-field:hover {
  box-shadow: var(--focus-ring-inactive-shadow);
}

.filter-input-field:focus,
.filter-input-field:not(:empty) {
  border-color: $accent1;
  box-shadow: none;
}
