.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header {
  background: $contrast;
  padding-top: 1em;

  .toolbar {
    border-top: 0;
  }
}

.tabbed-pane-content.has-no-tabs {
  background-color: $lighterBg;
}

.tabbed-pane-placeholder {
  text-shadow: $border 0 1px 0;
}

.tabbed-pane-header {
  border-bottom-color: $border;
  background-color: $contrast;
}

.tabbed-pane-header-tab {
  color: $foreground;
}

.tabbed-pane-header-tab:hover,
.tabbed-pane-shadow .tabbed-pane-header-tab[data-keyboard-focus='true']:focus {
  color: $selFg;
  background-color: $active;
}

.close-button .smallicon-cross {
  filter: opacity(1);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: content-box;
  width: 14px !important;
  height: 14px !important;

  &::before {
    content: '✖';
    line-height: 1.5;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -3px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    box-sizing: content-box;
    z-index: -1;
    background: var(--hl);
    color: var(--fg);
  }
}

.close-button .mediumicon-gray-cross-hover,
.close-button .mediumicon-gray-cross-active {
  filter: opacity(1);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: content-box;
  width: 14px !important;
  height: 14px !important;
  &::before {
    content: '✖';
    line-height: 1.5;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -3px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    box-sizing: content-box;
    z-index: -1;
    background: var(--accent);
    color: white;
  }
}

.tabbed-pane-header-tab.selected {
  background-color: $highlight !important;
  color: $selFg;
  border-bottom: 2px solid $accent1;
}

.tabbed-pane-header-tab.dragging {
  box-shadow: none;
  background-color: $highlight;
}

.tabbed-pane-header-tabs-drop-down-container > .chevron-icon {
  background-color: $foreground;
}

.tabbed-pane-header-tabs-drop-down-container:hover {
  background-color: $highlight;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab {
  color: $primary;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab.selected {
  border-left-color: $accent1;
  border-bottom: none;
  color: $selFg;
}

.tabbed-pane-tab-slider {
  background-color: $accent1;
}

.tabbed-pane-header-tab-title {
  text-overflow: clip;
  overflow: visible;
}
