.being-edited.editing,
.editing {
  background-color: $contrast;
  color: $foreground;

  * {
    color: $foreground;
  }
}

.text-prompt-editing {
  box-shadow: var(--drop-shadow);
  background-color: $background;
}

.text-prompt-editing > .text-prompt {
  color: $foreground !important;
}

.text-prompt > .auto-complete-text {
  color: $accent1 !important;
}

.text-prompt[data-placeholder]:empty::before {
  color: $disabled;
}

.styles-element-classes-pane {
  background: $bg;
  border-bottom: $borderLight;
}

.styles-sidebar-pane-filter-box > input,
.styles-element-classes-pane .new-class-input {
  background-color: $contrast;
  border: 2px solid $border;
  border-radius: 4px;
  box-shadow: none;
}

.styles-sidebar-pane-filter-box > input:focus,
.styles-element-classes-pane .new-class-input:focus {
  border-color: $accent1;
  box-shadow: none;
}

