.metrics {
  color: $foreground;
}

.metrics .label,
.metrics div,
.metrics span {
  color: $foreground;
}

.metrics div:hover {
  color: $selFg;
  border-color: $foreground !important;
}

.metrics .position {
  background: $contrast !important;
  border-color: $disabled;
}

.metrics .margin {
  background: $orange !important;
  border-color: $disabled;
}

.metrics .border {
  border-color: $disabled;
  background: $yellow !important;
}

.metrics .padding {
  background: $green !important;
  border-color: $disabled;
}

.metrics .content {
  background: $cyan !important;
  border-color: $disabled;
}

.metrics .highlighted:not(.position) > :not(.border):not(.padding):not(.content) {
  color: $selFg;
}
